// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    width: 100vw;
    height: 1000vh;
    background: rgb(74, 175, 244);
    background: radial-gradient(circle, rgba(74, 175, 244, 1), rgba(74, 78, 244, 1) 100%);

}
